<section>
  <h2>Create New Post</h2>

  <form class="new-post-form m-2">
    <div>
      <label for="post-text">What's happening?</label>
      <input type="text" id="post-text" name="post-text" class="w-100"/>
    </div>
    <button type="submit" class="btn btn-dark m-2 rounded">Vent</button>
  </form>
</section>

{{#if posts.length}}
<article>
  <h2>Past Vents</h2>
  <section>
    {{#each posts as |post|}}
    <article class="card m-2">
      <article class="card-body p-2">
        {{> post-info post}}
        {{user_id}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      </article>
    </article>
    {{/each}}
</article>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>