{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form form group ">
  <label for="commentTextArea" class="form-label mt-4">add comment</label>
  <textarea class="form-control comment-body" id="commentTextArea" rows="2" spellcheck="false" name="comment-body"></textarea>
  <div>
    <button type="submit" class="btn btn-dark">comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}